In [2]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [73]:
driver = webdriver.Chrome() 
driver.get("https://www.youtube.com/results?search_query=manufacturing+process&sp=EgIQAQ%253D%253D")

In [74]:
user_data = driver.find_elements_by_xpath('//*[@id="video-title"]')
links = []
for i in user_data:
      if(i.get_attribute('href')!=None):
        
            links.append(i.get_attribute('href'))
print(len(links))
print(links[0])

601
https://www.youtube.com/watch?v=uuN6zU3ePG0

In [75]:
count=0
for i in links:
    if(i==None):
        count=count+1
print(count)

0

In [76]:
df2 = pd.DataFrame(columns = ['link', 'title', 'description', 'catagory'])

In [77]:
wait = WebDriverWait(driver, 10)
v_category = "Manufacturing"
for x in links:
    #Extract dates from for each user on a page
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df2.loc[len(df2)] = [v_id, v_title, v_description, v_category]

TimeoutException: Message:

In [78]:
df2.head()
df2.shape

(265, 4)

In [79]:
df2.to_csv('Man7.csv')

In [81]:
import os
files = os.listdir()
files

['.ipynb_checkpoints',
 'chromedriver.exe',
 'Food1.csv',
 'Food2.csv',
 'Food3.csv',
 'Food4.csv',
 'Food5.csv',
 'Hist1.csv',
 'Man1.csv',
 'Man2.csv',
 'Man3.csv',
 'Man4.csv',
 'Man5.csv',
 'Man6.csv',
 'Man7.csv',
 'precily2.ipynb',
 'precily3.ipynb',
 'Precily_web_scrap.ipynb',
 'Science1.csv',
 'Science2.csv',
 'science3.csv',
 'Science4.csv',
 'Science5.csv',
 'Science6.csv',
 'travel1.csv',
 'travel2.csv',
 'travel3.csv',
 'travel4.csv',
 'travel5.csv']

In [168]:
df1=pd.read_csv("travel1.csv")
df2=pd.read_csv("travel2.csv")
df3=pd.read_csv("travel8.csv")
df4=pd.read_csv("travel4.csv")
df5=pd.read_csv("travel5.csv")
#df6=pd.read_csv("Science1.csv")
#df7=pd.read_csv("Science2.csv")
#df8=pd.read_csv("Science3.csv")
#df9=pd.read_csv("Science4.csv")
#df10=pd.read_csv("Science5.csv")
#df11=pd.read_csv("Science6.csv")
#df12=pd.read_csv("Man1.csv")
#df13=pd.read_csv("Man2.csv")
#df14=pd.read_csv("Man3.csv")
#df15=pd.read_csv("Man4.csv")
#df16=pd.read_csv("Man5.csv")
#df17=pd.read_csv("Man6.csv")
#df18=pd.read_csv("Man7.csv")
#df19=pd.read_csv("Food1.csv")
#df20=pd.read_csv("Food2.csv")
#df21=pd.read_csv("Food3.csv")
#df22=pd.read_csv("Food4.csv")
#df23=pd.read_csv("Food5.csv")
#df24=pd.read_csv("Hist1.csv")
#df25=pd.read_csv("Music1.csv")
#df26=pd.read_csv("Music2.csv")

In [167]:
df4.head()

,Unnamed: 0,Unnamed: 0.1,link,title,description,catagory
0,0,0,K9OckN0yR_E,India to USA : My trip begins,http://bit.ly/subscribeMT\n\nThis video is abo...,travel
1,1,1,98H5AN_vfOY,10 Top Tourist Attractions in the USA - Travel...,As one of the largest and most diverse countri...,travel
2,2,2,rEbBUfiA_ZM,A day in Boston | My USA trip 2018,http://bit.ly/subscribeMT\n\nThis video is abo...,travel
3,3,3,MtCMtC50gwY,New York City Vacation Travel Guide | Expedia,https://www.expedia.com/lp/destinatio...\n\nNe...,travel
4,4,4,Qyj62BMCqFE,"EPIC USA Road Trip! (2,361 Miles, 21 Days, 7 S...","EPIC USA Road Trip! (2,361 miles, 21 Days, 7 S...",travel

In [135]:
df3.catagory="travel"

In [156]:
df.head()

,Unnamed: 0,link,title,description,catagory
0,0,n79Rv0F48,Backpacking In Meghalaya | NorthEast India Tri...,"In this video I explored North East India, sta...",travel
1,1,JLZlCZ0,Ep 1| Travelling through North East India | Of...,"The journey to Arunachal, North East India beg...",travel
2,2,zHZVeFa0kdk,First India Train Experience | Delhi to Amrits...,We are leaving Delhi and making our way to the...,travel
3,3,Rbn0cxbl28M,You Won't Believe This is India... 2!,Did you know India has the most beautiful whit...,travel
4,4,8SSpN4IHSk,FIRST CLASS INDIAN TRAIN | GOA TO KERALA,Finally we are riding our first Indian train f...,travel

In [169]:
df3.head()

,Unnamed: 0,link,title,description,catagory
0,0,SLM4vllf4a8,Simple Floral Abstract Painting using Fan Brus...,Satisfying demonstration of simple floral abst...,Arts and Music
1,1,HCKMkM0wF9,Trick Art Drawing 3D Tiny House on paper,Cool Trick Art Drawing 3D Tiny House on paper ...,Arts and Music
2,2,4NGSlO82M3,Best craft with cotton buds | Best craft idea ...,Best craft idea #craft ideas #DIY #how to #cot...,Arts and Music
3,3,NRNMupJ-48Y,YS Jagan in Falaknuma | Hum Dhenge Review | 7 ...,Namasthe 7 Arts cult ....\nThis is our funny t...,Arts and Music
4,4,4Y19VjuOEU,Amazing 18 Nail Art Designs | New Nail Art Com...,Brand new beauty compilation featuring the bes...,Arts and Music

In [170]:
df3.catagory="travel"

In [173]:
df26.head()

,Unnamed: 0,link,title,description,catagory
0,0,SLM4vllf4a8,Simple Floral Abstract Painting using Fan Brus...,Satisfying demonstration of simple floral abst...,Arts and Music
1,1,HCKMkM0wF9,Trick Art Drawing 3D Tiny House on paper,Cool Trick Art Drawing 3D Tiny House on paper ...,Arts and Music
2,2,4NGSlO82M3,Best craft with cotton buds | Best craft idea ...,Best craft idea #craft ideas #DIY #how to #cot...,Arts and Music
3,3,NRNMupJ-48Y,YS Jagan in Falaknuma | Hum Dhenge Review | 7 ...,Namasthe 7 Arts cult ....\nThis is our funny t...,Arts and Music
4,4,4Y19VjuOEU,Amazing 18 Nail Art Designs | New Nail Art Com...,Brand new beauty compilation featuring the bes...,Arts and Music

In [ ]:
df1,df2,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,

In [174]:
frames = [data_t,df1,df2,df5]
data_t= pd.concat(frames, axis=0, join='outer', join_axes=None, ignore_index=True,
                            keys=None, levels=None, names=None, verify_integrity=False, copy=True)

In [175]:
data_t.to_csv('data_t.csv')

In [109]:
m=pd.read_csv("travel.csv")

In [110]:
m.head()

,Unnamed: 0,link,title,description,catagory
0,0,K9OckN0yR_E,India to USA : My trip begins,http://bit.ly/subscribeMT\n\nThis video is abo...,Art & Dance
1,1,98H5AN_vfOY,10 Top Tourist Attractions in the USA - Travel...,As one of the largest and most diverse countri...,Art & Dance
2,2,rEbBUfiA_ZM,A day in Boston | My USA trip 2018,http://bit.ly/subscribeMT\n\nThis video is abo...,Art & Dance
3,3,MtCMtC50gwY,New York City Vacation Travel Guide | Expedia,https://www.expedia.com/lp/destinatio...\n\nNe...,Art & Dance
4,4,Qyj62BMCqFE,"EPIC USA Road Trip! (2,361 Miles, 21 Days, 7 S...","EPIC USA Road Trip! (2,361 miles, 21 Days, 7 S...",Art & Dance

In [113]:
m.catagory="travel"
m.head()

,Unnamed: 0,link,title,description,catagory
0,0,K9OckN0yR_E,India to USA : My trip begins,http://bit.ly/subscribeMT\n\nThis video is abo...,travel
1,1,98H5AN_vfOY,10 Top Tourist Attractions in the USA - Travel...,As one of the largest and most diverse countri...,travel
2,2,rEbBUfiA_ZM,A day in Boston | My USA trip 2018,http://bit.ly/subscribeMT\n\nThis video is abo...,travel
3,3,MtCMtC50gwY,New York City Vacation Travel Guide | Expedia,https://www.expedia.com/lp/destinatio...\n\nNe...,travel
4,4,Qyj62BMCqFE,"EPIC USA Road Trip! (2,361 Miles, 21 Days, 7 S...","EPIC USA Road Trip! (2,361 miles, 21 Days, 7 S...",travel

In [112]:
m.to_csv("travel3.csv")

PermissionError: [Errno 13] Permission denied: 'travel3.csv'

In [106]:
frames = [m,df_all]
df_all = pd.concat(frames, axis=0, join='outer', join_axes=None, ignore_index=True,
                            keys=None, levels=None, names=None, verify_integrity=False, copy=True)

In [100]:
df_all.to_csv('df_all.csv')

In [114]:
df_all= df_all.set_index("catagory")
df_all = df_all.drop("Art & Dance", axis=0)

In [116]:
df_all[df_all["catagory"]=="Art & Dance"]

KeyError: 'catagory'

In [119]:
df_all.link

catagory
travel     K9OckN0yR_E
travel     98H5AN_vfOY
travel     rEbBUfiA_ZM
travel     MtCMtC50gwY
travel     Qyj62BMCqFE
travel      -k5Il-uwvY
travel     46SYtrSe-X4
travel      DzVki4f0qZ
travel     NCvwxJm-Rx8
travel      gPwky7YSNx
travel       rJTDG8oZ9
travel     E5DkdeD2O6Q
travel       TOt_8zC1M
travel      kCpXIal84E
travel     FjU_x1106pg
travel     9G7-3CiQR8k
travel       SQwH84iQ_
travel     YtNTBEwm-6U
travel       Ch_x33zzX
travel      D5lul1NKaz
travel      GCx4evUPtI
travel     7ISrhzpTnmM
travel      qZFuRyqoSl
travel     2w6ephOxnTY
travel     zaK7-Rmnyn8
travel     WND2wx5S4t8
travel     fHjZD39RL5Q
travel     g4ipHoEAdSM
travel       9f68LYlQK
travel      K30NUv28sH
              ...
History    7iru_3rZfSI
History    Uj69tpL0kK8
History    Qn6VL6Z0b7U
History     7cteCj4gGA
History     gloPC7-pYE
History    Zl1m7YCvPc8
History     jLJoOry4sY
History     fQ9tGcPvhn
History       8EYHx3d5
History    z1mR_6Rbiqg
History     3T-1P5eMqq
History    FQ4l1bfCazM
History    5_QWcaWi6jQ
History    WyjN6hMLE1g
History      6QQBfO16j
History     GqTEj6fd3B
History       R1CYiSwT
History    DvioKeMmycE
History    _Ry6yESsO1g
History    97kzAo35GGM
History    6-SsSlVOYYM
History    URUjgy5oNXA
History    L4E6tT85JWU
History    BWGUgLerfp0
History    Ynd6A3GMntQ
History     g4ZEpbw1F0
History    gCWvTgX9qXI
History     WLb-p2iDZi
History    X4l2-qRZvTM
History    Bd3xk-T9wv8
Name: link, Length: 7537, dtype: object

In [120]:
df_all.to_csv("data2.csv")

In [122]:
data2=pd.read_csv("data2.csv")

In [123]:
data2.head()

,catagory,Unnamed: 0,link,title,description
0,travel,0,K9OckN0yR_E,India to USA : My trip begins,http://bit.ly/subscribeMT\n\nThis video is abo...
1,travel,1,98H5AN_vfOY,10 Top Tourist Attractions in the USA - Travel...,As one of the largest and most diverse countri...
2,travel,2,rEbBUfiA_ZM,A day in Boston | My USA trip 2018,http://bit.ly/subscribeMT\n\nThis video is abo...
3,travel,3,MtCMtC50gwY,New York City Vacation Travel Guide | Expedia,https://www.expedia.com/lp/destinatio...\n\nNe...
4,travel,4,Qyj62BMCqFE,"EPIC USA Road Trip! (2,361 Miles, 21 Days, 7 S...","EPIC USA Road Trip! (2,361 miles, 21 Days, 7 S..."

In [124]:
data2.catagory

0        travel
1        travel
2        travel
3        travel
4        travel
5        travel
6        travel
7        travel
8        travel
9        travel
10       travel
11       travel
12       travel
13       travel
14       travel
15       travel
16       travel
17       travel
18       travel
19       travel
20       travel
21       travel
22       travel
23       travel
24       travel
25       travel
26       travel
27       travel
28       travel
29       travel
         ...
7507    History
7508    History
7509    History
7510    History
7511    History
7512    History
7513    History
7514    History
7515    History
7516    History
7517    History
7518    History
7519    History
7520    History
7521    History
7522    History
7523    History
7524    History
7525    History
7526    History
7527    History
7528    History
7529    History
7530    History
7531    History
7532    History
7533    History
7534    History
7535    History
7536    History
Name: catagory, Length: 7537, dtype: object

In [125]:
df1=pd.read_csv("Music1.csv")
df2=pd.read_csv("Music2.csv")

In [127]:
frames = [data2,df1,df2]
data2 = pd.concat(frames, axis=0, join='outer', join_axes=None, ignore_index=True,
                            keys=None, levels=None, names=None, verify_integrity=False, copy=True)

C:\Users\MAHE\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
data2.head()

,Unnamed: 0,catagory,description,link,title
0,0,travel,http://bit.ly/subscribeMT\n\nThis video is abo...,K9OckN0yR_E,India to USA : My trip begins
1,1,travel,As one of the largest and most diverse countri...,98H5AN_vfOY,10 Top Tourist Attractions in the USA - Travel...
2,2,travel,http://bit.ly/subscribeMT\n\nThis video is abo...,rEbBUfiA_ZM,A day in Boston | My USA trip 2018
3,3,travel,https://www.expedia.com/lp/destinatio...\n\nNe...,MtCMtC50gwY,New York City Vacation Travel Guide | Expedia
4,4,travel,"EPIC USA Road Trip! (2,361 miles, 21 Days, 7 S...",Qyj62BMCqFE,"EPIC USA Road Trip! (2,361 Miles, 21 Days, 7 S..."